.sectionOne{
    background-color: rgba(10, 78, 203, 1);
    height: 52px;
}
.cotologMain{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px 0;
}
.cotologWrap{
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    color: white;
    gap: 2%;
}
.cotologUl{
    display: flex;
    gap: 5%;
    margin-left: -100px;
}
.cotologUl li{
    white-space: nowrap;
}
.cotologBtn{
    display: flex;
    gap: 2%;
    white-space: nowrap;
    background-color: rgba(4, 53, 143, 1);
    height: 52px;
    width: 234px;
    justify-content: center;
    align-items: center;
}