.catologAdd{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px 30px 0;
    z-index: 770;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    line-height: 34px;
    margin-top: 600px;
}
.photoCat{
   float: right;
   margin-top: 10px;
}
.catologAdd ul{
    width: 230px;
}