@import url(../reduce/reduce.css);

.headerWrap{
    max-width: 1200px;
    margin: 0 auto;
}
.logoOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
}
.giperSylcka{
    display: flex;
    flex-basis: auto;
}
.giperSylcka img{
    flex-basis: 3.5%;
}
.giperSylcka ul {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.giperSylcka ul li{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
}
.btnHeader{
    display: flex;
    justify-content: space-between;
}
.photoBtn{
    margin-left: 10px;
}
.btnBurger{
    position: fixed;
    right: 30px;
    top: 20px;
    display: none;
}
@media screen and (max-width: 980px){
    .btnBurger{
        display: block;
    }
    .ulNav{
        display: none;
    }
    .ulNav li {
        display: none;
    }
    .giperSylcka img{
        position: fixed;
        left: 30px;
        top: 20px;
    }
}