.shvetsia{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.shvetciaMain{
    max-width: 1200px;
    margin: auto;
    padding: 0 10px 0;
    margin-top: 50px;
}
.shvetciaMain h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 37.79px;
    color: rgba(54, 56, 63, 1);
}
.Gallery{
    width: 280px;
    height: 520px;
}
.Gallery p{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 240px;
    text-align: left;
    color: rgba(54, 56, 63, 1);
    margin-top: 10px;
}
.galleryTop span{
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: rgba(54, 56, 63, 1);
}
.galleryTop{
    margin-top: 30px;
}
.galleryTop h2{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.29px;
    text-align: left;
    color: rgba(163, 166, 178, 1);
    text-decoration: line-through;
}
.shopGallery{
    float: right;
    margin-right: 70px;
    width: 46px;
    height: 46px;
    border-radius: 12px;
    border: 1px solid rgba(222, 223, 231, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    
}
.shopImg{
    position: relative;
}
.shopPl{
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
}